<div class="row">
  <div class="small-10 medium-6 large-6 columns">
    <h1>Change a ukulele</h1>
    <%= form_for [current_user, @ukulele] do |f| %>
    <div id="error_explanation">
      <h2><%= pluralize(@ukulele.errors.count, "error") %> prohibited this ukulele from being saved:</h2>

      <ul>
        <% @ukulele.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
      <%= field_set_tag "Basics (required)" do %>
        <div class="field">
          <%= f.label :instrument_type %>
          <%= select_tag :instrument_type, options_from_collection_for_select(@instrument_type, 'id', 'instrument_type', '1') %>
        </div>

        <div class="field">
          <%= f.label :ukulele_shape %>
          <%= select_tag :ukulele_shape, options_from_collection_for_select(@ukulele_shape, 'id', 'ukulele_shape') %>
        </div>

        <div class="field">
          <%= f.label :ukulele_size %>
          <%= select_tag :ukulele_shape, options_from_collection_for_select(@ukulele_size, 'id', 'ukulele_size') %>
        </div>
      <% end %>

      <%= field_set_tag "Manufacture" do %>
        <div class="field">
          <%= f.label :luthier %>
          <%= f.text_field :luthier, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :model %>
          <%= f.text_field :model, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :serial_number %>
          <%= f.text_field :serial_number, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :purchase_date %>
          <%= f.date_field :purchase_date, autofocus: true %>
        </div>
      <% end %>

      <%= field_set_tag "Materials" do %>
        <div class="field">
          <%= f.label :body_top %>
          <%= f.text_field :body_top, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :body_sides %>
          <%= f.text_field :body_sides, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :body_back %>
          <%= f.text_field :body_back, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :body_neck %>
          <%= f.text_field :body_neck, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :body_fretboard %>
          <%= f.text_field :body_fretboard, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :body_binding %>
          <%= f.text_field :body_binding, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :nut_material %>
          <%= f.text_field :nut_material, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :saddle_material %>
          <%= f.text_field :saddle_material, autofocus: true %>
        </div>
      <% end %>

      <%= field_set_tag "Tuners, strings, electrics" do %>
        <div class="field">
          <%= f.label :tuner_type %>
          <%= f.text_field :tuner_type, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :tuner_manufacture %>
          <%= f.text_field :tuner_manufacture, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :string_manufacture %>
          <%= f.text_field :string_manufacture, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :string_count %>
          <%= f.number_field :string_count, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :string_tuning %>
          <%= f.text_field :string_tuning, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :pickup %>
          <%= f.text_field :pickup, autofocus: true %>
        </div>
      <% end %>

      <%= field_set_tag "Finish" do %>
        <div class="field">
          <%= f.label :finish_type %>
          <%= f.text_field :finish_type, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :finish_look %>
          <%= f.text_field :finish_look, autofocus: true %>
        </div>
      <% end %>

      <%= field_set_tag "Dimensions" do %>
        <div class="field">
          <%= f.label :width %>
          <%= f.number_field :width, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :depth %>
          <%= f.number_field :depth, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :neck_width %>
          <%= f.number_field :neck_width, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :length_scale %>
          <%= f.number_field :length_scale, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :length_body %>
          <%= f.number_field :length_body, autofocus: true %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Update" %>
        <%=  link_to "Cancel", user_ukuleles_path(current_user) %>
      </div>
    <% end %>
  </div>
</div>
