<% content_for :title do %>
  My Ukuleles
<% end %>
<div class="row">
  <div class="small-10 medium-6 large-6 columns">
    <h1>My Ukuleles</h1>
    <%=  link_to "Add a ukulele", new_user_ukulele_path(current_user) %>
    <table>
      <tbody>
      <tr>
        <th>Type</th>
        <th>Size</th>
        <th>Shape</th>
        <th>Luthier</th>
      </tr>
        <tr>
          <% @ukuleles.each do |uke| %>
          <td>
            <%= link_to uke.instrument_type.titleize, user_ukulele_path(current_user, uke.id) %>
          </td>
          <td>
            <%= link_to uke.ukulele_size.titleize, user_ukulele_path(current_user, uke.id) %>
          </td>
          <td>
            <%= link_to uke.ukulele_shape.titleize, user_ukulele_path(current_user, uke.id) %>
          </td>
          <td>
            <%= link_to uke.luthier, user_ukulele_path(current_user, uke.id) %>
          </td>
        </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>Share</h2>
    <p>
      Copy and paste the code below into your profile on <a href="http://forum.ukuleleunderground.com/" target="_blank">Ukulele Underground forums.</a>
    </p>
    <button class="btn" data-clipboard-target="#markup" >
      Copy code
    </button>
    <div id="markup" class="small-12">
      <textarea id="bar" rows="<%= @ukuleles.size %>">
        [B]My Ukuleles[/B]
        <% @ukuleles.each do |uke| %>
          [URL="<%= request.base_url %><%= user_ukulele_path(current_user, uke.id) %>"]<%= uke.vbulletin %>[/URL]
        <% end %>
        [SIZE=1][I][URL="http://my-ukulele-info.heroku.com"]Powered by My Ukulele Info[/URL][/I][/SIZE]
      </textarea>
    </div>
  </div>
</div>
