<% content_for :title do %>
  <%= @nickname %>
<% end %>
<div class="row">
  <div class="small-12 columns">
    <h1><%= @nickname %></h1>
    <% if current_user %>
      <%= link_to 'Change', edit_user_ukulele_path(current_user, @ukulele) %> |
      <%= link_to 'Delete', user_ukulele_path(@ukulele), method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>Details</h2>
    <div class="small-12 medium-6 large-4 columns container">
      <h3>Basics</h3>
      <p>
        Type: <%= @ukulele.instrument_type.to_s.titleize %>
      </p>
      <p>
        Size: <%= @ukulele.ukulele_size.to_s.titleize %>
      </p>
      <p>
        Shape: <%= @ukulele.ukulele_shape.to_s.titleize %>
      </p>
    </div>
    <div class="small-12 medium-6 large-4 columns container">
      <h3>Manufacture</h3>
      <p>
        Luthier: <%= @ukulele.luthier %>
      </p>
      <p>
        Model: <%= @ukulele.model %>
      </p>
      <p>
        Serial number: <%= @ukulele.serial_number %>
      </p>
      <p>
        Purchase date: <%= @ukulele.purchase_date %>
      </p>
    </div>
    <div class="small-12 medium-6 large-4 columns container">
      <h3>Materials</h3>
      <p>
        Body top: <%= @ukulele.body_top.to_s.titleize %>
      </p>
      <p>
        Body sides: <%= @ukulele.body_sides.to_s.titleize %>
      </p>
      <p>
        Body back: <%= @ukulele.body_back.to_s.titleize %>
      </p>
      <p>
        Body neck: <%= @ukulele.body_neck.to_s.titleize %>
      </p>
      <p>
        Body fretboard: <%= @ukulele.body_fretboard.to_s.titleize %>
      </p>
      <p>
        Body binding: <%= @ukulele.body_binding.to_s.titleize %>
      </p>
      <p>
        Nut material: <%= @ukulele.nut_material.to_s.titleize %>
      </p>
      <p>
        Saddle material: <%= @ukulele.saddle_material.to_s.titleize %>
      </p>
    </div>
    <div class="small-12 medium-6 large-4 columns container">
      <h3>Tuners, strings, electrics</h3>
      <p>
        Tuner type: <%= @ukulele.tuner_type.to_s.titleize %>
      </p>
      <p>
        Tuner manufacture: <%= @ukulele.tuner_manufacture %>
      </p>
      <p>
        String manufacture: <%= @ukulele.string_manufacture.to_s.titleize %>
      </p>
      <p>
        String count: <%= @ukulele.string_count %>
      </p>
      <p>
        String tuning: <%= @ukulele.string_tuning %>
      </p>
      <p>
        Pickup: <%= @ukulele.pickup.to_s.titleize %>
      </p>
    </div>
    <div class="small-12 medium-6 large-4 columns container">
      <h3>Finish</h3>
      <p>
        Finish type: <%= @ukulele.finish_type.to_s.titleize %>
      </p>
      <p>
        Finish look: <%= @ukulele.finish_look.to_s.titleize %>
      </p>
    </div>
    <div class="small-12 medium-6 large-4 columns container">
      <h3>Dimensions</h3>
      <p>
        Width: <%= @ukulele.width %>
      </p>
      <p>
        Depth: <%= @ukulele.depth %>
      </p>
      <p>
        Neck width: <%= @ukulele.neck_width %>
      </p>
      <p>
        Scale length: <%= @ukulele.length_scale %>
      </p>
      <p>
        Body length: <%= @ukulele.length_body %>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>Pictures</h2>
  </div>
</div>
<div class="row">
    <div class="small-12 columns">
      <% @ukulele.photos.each do |pic| %>
        <a class="pic" href="<%= pic.url %>" data-lightbox="ukuleles" ><img class="example-image" src="<%= pic.thumb.url %>" alt=""/></a>
      <% end %>
    </div>
  </div>
  </section>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>Video</h2>
    <% if @youtube %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @youtube %>" frameborder="0" allowfullscreen></iframe>
    <% else %>
      <p>
        This ukulele doesn't have a video.
        <% if current_user %> <%= link_to 'Add one.', edit_user_ukulele_path(current_user, @ukulele) %><% end %>
      </p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Share</h2>
    <p>
      Copy and paste the code below into your profile on <a href="http://forum.ukuleleunderground.com/" target="_blank">Ukulele Underground forums.</a>
    </p>
    <button class="btn" data-clipboard-target="#markup" >
      Copy code
    </button>
    <div id="markup" class="small-12">
      <textarea id="bar" rows="4">
        [B]My Ukuleles[/B]
        [URL="<%= request.original_url %>"]<%= @vbulletin %>[/URL]
        [SIZE=1][I][URL="http://my-ukulele-info.heroku.com"]Powered by My Ukulele Info[/URL][/I][/SIZE]
      </textarea>
    </div>
  </div>
</div>
