<div class="row">
<div class="small-12 columns">
  <h1>Need a uke nickname</h1>
  <%= link_to 'Delete', user_ukulele_path(@ukulele), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
<div class="row">
<div class="small-12 columns">
  <h2>Details</h2>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Basics</h3>
    <p>
      Type: <%= @ukulele.instrument_type %>
    </p>
    <p>
      Size: <%= @ukulele.ukulele_size %>
    </p>
    <p>
      Shape: <%= @ukulele.ukulele_shape %>
    </p>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Manufacture</h3>
    <p>
      Luthier: <%= @ukulele.luthier %>
    </p>
    <p>
      Model: <%= @ukulele.model %>
    </p>
    <p>
      Serial number: <%= @ukulele.serial_number %>
    </p>
    <p>
      Purchase date: <%= @ukulele.purchase_date %>
    </p>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Materials</h3>
    <p>
      Body top: <%= @ukulele.body_top %>
    </p>
    <p>
      Body sides: <%= @ukulele.body_sides %>
    </p>
    <p>
      Body back: <%= @ukulele.body_back %>
    </p>
    <p>
      Body neck: <%= @ukulele.body_neck %>
    </p>
    <p>
      Body fretboard: <%= @ukulele.body_fretboard %>
    </p>
    <p>
      Body binding: <%= @ukulele.body_binding %>
    </p>
    <p>
      Nut material: <%= @ukulele.nut_material %>
    </p>
    <p>
      Saddle material: <%= @ukulele.saddle_material %>
    </p>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Tuners, strings, electrics</h3>
    <p>
      Tuner type: <%= @ukulele.tuner_type %>
    </p>
    <p>
      Tuner manufacture: <%= @ukulele.tuner_manufacture %>
    </p>
    <p>
      String manufacture: <%= @ukulele.string_manufacture %>
    </p>
    <p>
      String count: <%= @ukulele.string_count %>
    </p>
    <p>
      String tuning: <%= @ukulele.string_tuning %>
    </p>
    <p>
      Pickup: <%= @ukulele.pickup %>
    </p>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Finish</h3>
    <p>
      Finish type: <%= @ukulele.finish_type %>
    </p>
    <p>
      Finish look: <%= @ukulele.finish_look %>
    </p>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Dimensions</h3>
    <p>
      Width: <%= @ukulele.width %>
    </p>
    <p>
      Depth: <%= @ukulele.depth %>
    </p>
    <p>
      Neck width: <%= @ukulele.neck_width %>
    </p>
    <p>
      Scale length: <%= @ukulele.length_scale %>
    </p>
    <p>
      Body length: <%= @ukulele.length_body %>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>Pictures coming soon</h2>
    <div class="small-12 medium-6 large-4 columns">
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>Videos coming soon</h2>
    <div class="small-12 medium-6 large-4 columns">
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>Sound clips coming soon</h2>
    <div class="small-12 medium-6 large-4 columns">
    </div>
  </div>
</div>
