<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='row'>
      <% if user_signed_in? %>
        <%= link_to "Edit account", edit_user_registration_path %>
        <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Log in", new_user_session_path%>
      <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
