<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "My Ukulele Info" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='row'>
      <div class="small-6 columns text-left">
        Logo placeholder
      </div>
      <div class="small-6 columns text-right">
        <% if user_signed_in? %>
          Signed in as <%= current_user.first_name %>
          <%= link_to "My Ukuleles", user_ukuleles_path(current_user) %>
          <%= link_to "My account", edit_user_registration_path %> |
          Share |
          <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
        <% else %>
          <%= link_to "Register", new_user_registration_path %> |
          <%= link_to "Sign in", new_user_session_path%>
        <% end %>
        <div data-alert class="alert-box">
          <%= notice %>
          <!-- <a href="#" class="close">&times;</a> -->
        </div>
        <div data-alert class="alert-box">
          <%= alert %>
          <!-- <a href="#" class="close">&times;</a> -->
        </div>
      </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
